## Common
.DS_Store

## Project structure
/build
/*/build
/levels/*/build

## Gradle
/.gradle
#/gradle
#/gradlew
#/gradlew.bat
/local.properties
/*/local.properties

## Eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## IntelliJ
/out
/classes
/.idea
*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml
