## Common
.DS_Store

## Gradle
/.gradle
/build
#/gradle
#/gradlew
#/gradlew.bat
/local.properties
/*/local.properties

## Eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## IntelliJ
/out
/classes
/.idea
/*.iml
/*/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml
