<!DOCTYPE html>
<html>
<head>
    <!-- Page title, we don't need it since our pages
         are rendered inside a WebView but whatever... -->
    <title>Enigma Quest</title>

    <!-- Pages always need a charset -->
    <meta charset="UTF-8">

    <!-- Pragmatic Media Lab! Add some metadata if you want... -->
    <meta name="author" content="Luca Defilippi, Luca Zanussi">
    <meta name="keywords" content="quiz, ffs, random, dynamic, template">
    <meta name="description" content="Template extracted from the first epic quiz in project Enigma">

    <!-- Load page style and core script -->
    <link rel="stylesheet" href="cp:/assets/templates/list/style.css" />
    <script src="cp:/assets/templates/list/logic.js"></script>
    <!-- FOR LOCAL DEBUG <link rel="stylesheet" href="style.css"/> <script src="logic.js"></script> -->

    <style> #bg { background: ${STYLE_BACKGROUND}; } </style>
</head>
<body>

    <!-- This page is very clean now that JavaScript and CSS are placed in external files,
         browsers will like this too, so external content can be cached between different pages. -->

    <div id="bg" class="fullscreen">
        <!-- Questionable elements position -->

        <h1>${QUIZ_TITLE}</h1>

        <ul id="answers">${QUIZ_ANSWERS}</ul>
    </div>

</body>
</html>
